<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753364651055-t7717bcdefqotc6pv6cq8142ho0e7m6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753364651055-t7717bcdefqotc6pv6cq8142ho0e7m6a</string>
	<key>API_KEY</key>
	<string>AIzaSyCXs-zvk2ZxOl6MvCTj7746zLmvVhoto04</string>
	<key>GCM_SENDER_ID</key>
	<string>753364651055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithtina.Got-Covid-FFF</string>
	<key>PROJECT_ID</key>
	<string>gotcovid2</string>
	<key>STORAGE_BUCKET</key>
	<string>gotcovid2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753364651055:ios:10e594528dbf39a41a0ada</string>
</dict>
</plist>